/* reset css */ 
* {
  margin:0; padding:0; box-sizing: border-box; 
  scrollbar-width: thin; scrollbar-color: rgb(0, 0, 0)   rgba(0, 0, 0, 0.192);
}
li {list-style: none;}
a {text-decoration: none;}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}

body {
  background-color:#fff;
  font-family: "Montserrat", sans-serif;
  color:#000;
}
.container {
  width: 100%;
  min-height: 100%;
  background-color: #fcfcfc;
  overflow: hidden;
}
/* .container h1 {font-size: 4vw;} */

footer {
  font-weight: bold;
  position: relative;
  width: 80%;
  margin: 0 auto;
  float: center!important;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding:10px;
  margin-top: 5px; margin-bottom: 10px;
  border-radius: 15px 0px 0px 0px;
}
footer a{color: black;}

#wrapper {
  position: relative;
  width: 80%;
  min-height: 80% !important;
  margin: 0 auto;
  margin-top: 15px; margin-bottom: 20px;
  float: center!important;
  text-align: left;
  border-radius:3px;
  box-shadow: 0px 0px 0px #aaa;
  background-color: #fff;
  overflow: hidden
}
.brand {
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  word-wrap: normal;
  white-space: nowrap;
  word-break: normal;
  overflow: auto;

}

.rekayasaB {
  text-align: center;
  width: 150px;
  height: 60px;
  margin: 10px 12px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(26, 26, 26, 0.164); 
}
.b_active { border: 3px solid dodgerblue; }
.rekayasaB:hover { border: 3px solid dodgerblue;}

.tooltip {
  color: rgb(255, 255, 255);
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}
.tooltip:before {
  visibility: hidden;
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: rgb(255, 0, 43) transparent transparent transparent;
  top: -15px;
  bottom: -15px;
   transform: translateY(20px);
}
.tooltip:after {
  visibility: hidden;
  content: attr(data-tooltip);
  background: rgb(255, 0, 43);
  width: 90%;
  height: 30px;
  font-size: 13px;
  font-weight: 300;
  top: -65px;
  left: 0px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}
.tooltip:hover::before,
.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translateY(-2px);
}

.anim:hover {
  animation: shake 500ms ease-in-out forwards;}
  
.rekayasaB img{ float: center; }

/* Scroll Bar Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: rgba(122, 122, 122, 0.692);
  border-radius: 3px;;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
    
 
/* Menu Navigasi -------- */
header {background-color: #141b25;}
.main-nav {
  height: 90px;
  padding-left: 10%;
  padding-right: 10%;
}
.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}
.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}
.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}
.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}
.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}
.navlinks li .active {
  background-color: #00adb5;
  color: white;
  padding: 9px 20px !important;
  border-radius: 50px !important;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

#check {
  display: none;
}
.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}
/* -----------------------*/

.layout-card {
	padding: 0;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	margin: 5px 15px;
	gap:20px;
	position: relative;
}
.card {
	width: 100%;
	height: auto;
	grid-column: span 2;
	margin: 10px 0;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 10px 10px rgba(0,0,0,.1);
}
.head-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.body-card {
	padding: 10px 15px;
}
.body-card h1 {
	margin: 0;	

}
.body-card svg {
	width: 31px;
	position: absolute;
	bottom: 7px;
	right: 20px;
}

/* border-collapse jenis, ukuran serta warna huruf secara keseluruhan tabel */
table{
    width: 100%;
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#333333;
    overflow-x:auto;
}
/* Mengatur warna latar, warna teks, ukruan font dan jenis bold (tebal) pada header tabel */
table th {
    background:#4285f4;
    color:#fff;
    font-weight:bold;
    font-size:14px;
}
/* Mengatur border dan jarak/ruang pada kolom */
table th, table td {
    vertical-align:top;
    padding:5px 10px;
    border:1px solid #696969;
}
/* Mengatur warna baris */
table tr {background:#F5FFFA;}
/* Mengatur warna baris genap (akan menghasilkan warna selang seling) */
table tr:nth-child(even) {background:#F0F8FF;}

/* Method Animasi */
@keyframes shake {
  0% { transform: rotate(2deg); }
  50% { transform: rotate(-3deg) }
  70% { transform: rotate(3deg) }
  100% { transform: rotate(0deg)}
}

/* Responsive Media Screen */
@media screen and (max-width: 991px) {
    
}  
@media screen and (max-width:767px){
  #wrapper {width: 95%;}
  .main-nav {padding-left: 2%; padding-right: 2%;}
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #222831;
    z-index: 5;
    }
  .navlinks li {
    display: block;
  }
  .navlinks li a {
      font-size: 20px;
  }
  .navlinks li a:hover {
      border-bottom: none;
  }
  .menu-btn {
      display: block;
  }
  #check:checked ~ .navlinks {
      right: 0;
  }

  /* ----- */
  .card {
      width: 100%;
      grid-column: span 3;
  }
}
@media screen and (max-width: 480px) {
    .wrapper {width: 98%}
    .main-nav {padding-left: 1%; padding-right: 1%;}

    .logo {
      margin-left: 10px;
      font-size: 25px;
    }
    .menu-btn {
      margin-right: 10px;
      font-size: 25px;
    }
    .menu-btn:focus {
      color: blue;
    }

    .card {
      width: 100%;
      grid-column: span 6;
    }

}