<style>
* {margin:0; padding:0;}
	 
body {
    background-color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
}
.container {
    width: 100%;
    min-height: 100%;
    background-color: #fcfcfc;
    overflow: hidden;
    }
// .container h1 {font-size: 4vw;}

footer {
    position: fixed;
    bottom: 0; right: 0;
    text-align: center;
    background-color: rgba(38, 116, 242, 0.3);
    padding:10px;
    display: inline-table;
    border-radius: 15px 0px 0px 0px;
}
footer a{color: black;}

#wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px; margin-bottom: 35px;
    float: center!important;
    text-align: left;
    border-radius:3px;
    box-shadow: 0px 0px 4px #aaa;
    background-color: #fff;
    overflow: hidden
}
.content {position: relative; padding: 5px;}
     
.data {
    padding: 20px 15px;
    width: 100%;
    border-style: none;
    background: #B6FAFA;
    position: relative;
}
.data hr {border: 0;border-top: 1px dashed rgba(0,0,0,0.3);}
.infos {
    position: relative;
    font-weight: 300; font-family: &quot;Nunito&quot; ,sans-serif;  font-size: 14px;line-height: 29px;    padding: 0px 0px;    transform: none!important;  overflow: hidden; text-overflow: clip;  white-space: nowrap;
}
.infos b{font-size: 15;display: block;float: left;width: 35%;}
 
/* Menu Navigasi */
.menunav{max-width:auto;background:#2674f2; color:#fff;display:inline-block;width:100%;padding: 10px 0px;box-shadow:3px 2px 3px #aaa;}
.menunav ul{position:relative; width:100%;padding:0;left:18%}
/*.menunav li:first-child a{padding:7px 10px 3px}*/
.menunav li{list-style:none;display:inline-block;float:left;}
.menunav li a{color:#fff;display:block;font:bold 13px Arial;position:relative;text-decoration:none;padding:11px 10px}
.menunav li a:hover{background:#2374a3; color:#fff}
.menunav li a .sf-sub-indicator{overflow:hidden;position:absolute;text-indent:-9999px}
.menunav li:hover>ul,.menunav li.sfHover ul{right:auto}
li svg{position:relative; top:3px; height:15px}
.logo{width: 210px;float:left;margin:0 auto;padding: 11px 10% 0;}

/* Pengaturan border-collapse jenis,ukuran serta warna huruf secara keseluruhan tabel */
table{
    width: 100%;
    border-collapse:collapse;
    font:normal normal 12px Verdana,Arial,Sans-Serif;
    color:#333333;
    overflow-x:auto;
}
/* Mengatur warna latar, warna teks, ukruan font dan jenis bold (tebal) pada header tabel */
table th {
    background:#4285f4;
    color:#fff;
    font-weight:bold;
    font-size:14px;
}
/* Mengatur border dan jarak/ruang pada kolom */
table th, table td {
    vertical-align:top;
    padding:5px 10px;
    border:1px solid #696969;
}
/* Mengatur warna baris */
table tr {background:#F5FFFA;}
/* Mengatur warna baris genap (akan menghasilkan warna selang seling pada baris tabel) */
table tr:nth-child(even) {background:#F0F8FF;}
    
@media screen and (max-width: 900px) {
    .menunav ul{left:5%}
}
    
@media screen and (max-width:768px){
    #wrapper {width: 95%;}
    .menunav ul{left:0}
    .menunav li{float:none;}
    .menunav li a{background:none}.menunav ul{text-align:center;width:100%}
    .logo{text-align:center;width:100%;float:none;padding:5px 0 10px}
}

@media screen and (max-width: 468px) {
    .wrapper {width: 98%}
}
</style>